section(data-ng-controller='ArticlesController', data-ng-init='findOne()')
   div.page-header
      h1(data-ng-bind='article.title')
   div.pull-right(data-ng-show='authentication.currentUser._id == article.user._id')
      a.btn.btn-primary(href='/#/articles/{{article._id}}/edit')
         i.glyphicon.glyphicon-edit
      a.btn.btn-primary(data-ng-click='remove();')
         i.glyphicon.glyphicon-trash
   small
      em.text-muted
         | Posted on&nbsp
         span(data-ng-bind='article.created | date:"mediumDate"')
         | by&nbsp
         span(data-ng-bind='article.user.userName')
   p.lead(data-ng-bind='article.content')
   ul.list-group.list-inline
    li.list-group-item(ng-repeat="tag in article.tags")
     a.btn-link(ng-href="#/articles/tag/{{tag.text}}") {{tag.text}}
