doctype html
html
  head
    title MEAN Blog
    link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/vendor/toastr/toastr.css")
    link(rel="stylesheet", href="/vendor/ng-tags-input/ng-tags-input.css")
    link(rel="stylesheet", href="/css/site.css")
  body(ng-app="app")
    include currentUser
    block main-content
    include scripts
